@model HotelReservationManager.Areas.Identity.Data.HotelManagerUser;
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
